.trip_card {
    display: grid;
    width: 100%;
    grid-auto-rows: max-content;
    grid-template-areas:
        'image'
        'direction'
        'about';
    gap: 1.5rem;
}

.image {
    width: 100%;
    height: auto;
    aspect-ratio: 1/0.75;
    grid-area: image;
    background-color: var(--light);
    object-fit: contain;
    object-position: center;
    padding: 5rem;
}

.direction {
    display: grid;
    grid-template-areas: 'from arrow' 'to arrow';
    grid-template-columns: fit-content(100%) max-content;
    grid-area: direction;
    justify-items: end;
    align-items: center;
    gap: 0 0.5em;
    text-align: right;
}

.from {
    grid-area: from;
}
.arrow {
    width: auto;
    height: 1.5em;
    grid-area: arrow;
    margin-top: 0.3em;
    transform: scaleX(-1) scaleY(-1);
}
.to {
    grid-area: to;
}

.about {
    grid-area: about;
}

.about li {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
}
