.car_card {
    display: grid;
    grid-auto-rows: max-content;
    gap: 1.5rem;
}

.image {
    width: 100%;
    grid-area: image;
    background-color: var(--light);
    object-fit: contain;
    object-position: center;
    padding: 2rem;
}

.about {
    grid-area: about;
}

.action_buttons {
    grid-area: btn;
    display: grid;
    gap: 1rem;
}

.properties li {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
}

@media screen and (min-width: 426px) {
    .car_card {
        grid-template-areas: 'image' 'about' 'btn';
    }

    .image {
        height: auto;
        aspect-ratio: 2/1.25;
    }
}

@media screen and (max-width: 425px) {
    .car_card {
        grid-template-areas: 'image about' 'image btn';
        grid-template-columns: 1fr 1fr;
    }

    .image {
        height: 100%;
    }
}
