.car_card {
    display: grid;
    width: 30rem;
    grid-auto-rows: max-content;
    grid-template-areas: 'image' 'about' 'btn';
    gap: 1.5rem;
}

.image {
    width: 100%;
    height: auto;
    aspect-ratio: 2/1.25;
    grid-area: image;
    background-color: var(--light);
    object-fit: contain;
    object-position: center;
    padding: 2rem;
}

.about {
    grid-area: about;
}

.add_trip_btn {
    grid-area: btn;
}

.properties li {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
}
