.form {
    display: grid;
    gap: 1em;
}

.form_element > * {
    font-size: 1em;
}

.additional_content a {
    color: var(--primary);
}

.field:has(.file_field) {
    justify-self: start;
}

.file_field {
    display: grid;
    grid-auto-columns: max-content;
    grid-template-areas: 'button file' 'image image';
    align-items: center;
    gap: 2rem;
}

.file_btn {
    grid-area: button;
}

.file_name {
    grid-area: file;
}

.image {
    width: 35rem;
    height: auto;
    grid-area: image;
}

.file_input {
    display: none;
}
