.chat_header {
    display: grid;
    grid-template-areas: 'name back' 'status back';
    grid-area: header;
    justify-content: space-between;
}

.user_name {
    grid-area: name;
}

.status {
    grid-area: status;
    color: var(--primary);
    font-size: 0.75em;
}

.back_btn {
    grid-area: back;
}

.back_btn a {
    display: block;
}
